@charset "UTF-8";

.wrapper {
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

.small-head{
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition:all 0.5s;
}

.news-contents,.news-contents-image{
  transition-timing-function: ease;
  transition-delay: 0s;
  transition:all 0.5s;
}



/* サイト表示時アニメーション　共通 */
.menu-anime{
    position: fixed;
    top: 0;
    right: 0;
}

.bg {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100vh;
  color: #fff;
}

.bg.-visible:before {
  transform: translate(0, 0);
}

.bg:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a33e46;
  transform: translate(0, -100%);
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  content: '';
}




@media screen and (max-width: 768px) {
/* SP style */

/* アニメーション再生後 */

.main{
    width: 100%;
    margin-right: 100px;
}

.right-menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100px;
    height: 100vh;
    background-color: #fff;
    opacity: 0.3;
}

/* コンテナー */
.container-1, .container-2{
  margin: 0 auto;
}

/* スライダーのwrapper */
.infinite-slider1 .swiper-wrapper {
  transition-timing-function: linear;
  height: 50vh !important; /* 高さを指定 */
}

/* スライド */
.infinite-slider1 .swiper-slide {
  width: 100% !important;
}

/* スライド内の画像 */
.infinite-slider1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .center {
	margin: auto;
  }

.head-image-box{
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

    @keyframes zoomIn {
        0% {
          transform: scale(1);
          opacity: 1;
        }
        100% {
          opacity: 1;
          transform: scale(1.2);
        }
      }

  /* お知らせ */

  .small-head{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    vertical-align:  middle;    /* 中央寄せ */
    background-color: #d9d9d9;
  }

  .small-head h2{
    font-size: 1.1rem;
    font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  }

  .small-head h3{
    font-family: mr-eaves-modern, sans-serif;
    color: #e83827;
    font-weight: 400;
    font-size: 0.6rem;
    letter-spacing: .12em;
  }

  .news-contents-list{
    margin-top: 5px;
    padding: 5%;
    flex-wrap: wrap;
  }

  .news-contents-list-item{
    margin-top: 20px;
  }

      .news-contents-image{
        width: 100%;
        object-fit: cover;
      }


.news-contents-text{
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  margin-top: 10px;
  line-height: 1.6;
  padding: 4%;
}

.news-contents-list-item h3{
  font-size: 1.1rem;
}

.news-contents-list-item h4{
  font-size: 0.8rem;
  margin-top: 15px;
}

.view-visible{
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  align-items: center;
  text-align: center;
  margin: auto;
}

.dli-chevron-down {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
  margin-bottom: 20px;
}

  /* about */

.about{
  width: 100%;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px; font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  background-color: #555;
}

.about h2{
  color: #fff;
  font-size: 16px;
}

.about p{
  color: #fff;
  line-height: 2.25;
  font-size: 12px;
}

.location-contents-list{
  width: 100%;
  padding: 20px;
}


.location-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.view-visible-info{
  width: 100%;
  height: 100%;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}


.view-visible-info h4{
  color: #000;
  line-height: 1.65;
  margin: auto;
  padding-left: 20px; font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.view-visible-info h5{
  color: #000;
  line-height: 1.65;
  margin: auto;
  font-family: mr-eaves-modern, sans-serif;
  margin-bottom: 20px;
}

.view-visible-info ul{
  margin-bottom: 20px;
}

.online-list-first{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #000;
}

.online-list-last{
  padding: 15px;
  margin-bottom: 20px;
  color: #fff;
  border: 1px solid #a33e46;
  background-color: #a33e46;
}

.onlineshop{
width: 100%;
height: 400px;
background-color: #555;
}

}


@media screen and (min-width: 769px) {
/* PC style */


.main{
width: 100%;
}

.right-menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 10%;
    height: 100vh;
    background-color: #888;
}

.head-image{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}

/* コンテナー */
.container-1, .container-2{
  margin: 0 auto;
}

/* スライダーのwrapper */
.infinite-slider1 .swiper-wrapper {
  transition-timing-function: linear;
  height: 100vh !important; /* 高さを指定 */
  overflow: hidden;
}

/* スライド */
.infinite-slider1 .swiper-slide {
  width: 90% !important;
}

/* スライド内の画像 */
.infinite-slider1 .swiper-slide img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}

  .center {
	margin: auto;
  }

.head-image-box{
  width: 50%;
  height: 100vh;
  position: relative;
}

    @keyframes zoomIn {
        0% {
          transform: scale(1);
          opacity: 1;
        }
        100% {
          opacity: 1;
          transform: scale(1.2);
        }
      }

  /* お知らせ */

.news{
  margin-top: 100px;
}

.wrap{
  display: flex;
  justify-content:space-around;
  padding: 20px;
}

/* 小見出し */

.small-head{
  width: 80px;
  height: 500px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  background-color: #888;
  margin-right: 30px;
}


.news-contents-list{
  width: 80%;
  display: flex;
  margin-bottom: 32px;
}

.news-contents-list-item{
  margin-right: 20px;
}

.news-contents-text{
  margin-top: 30px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.news-contents-list-item h3{
font-size: 16px;
}

.news-contents-image{
  width: 100%;
  height: 80%;
  object-fit: cover;
}

/* about */

.about{
  width: 100%;
  height: 600px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  background-color: #555;
}

.about h2{
  color: #fff;
  font-size: 16px;
}

.about p{
  color: #fff;
  line-height: 2.25;
  font-size: 12px;
}

.location-contents-list{
  width: 90%;
  margin-left: 50px;
}

.view-visible{
  display: flex;
  margin-top: 30px;
  justify-content:space-around;
}

.location-image{
  width: 55%;
  height: 100%;
  object-fit: cover;
  order: 3;
}

.view-visible-info{
  width: 50%;
  height: 100%;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  box-sizing: border-box;
  order: 2;
}



}