@charset "UTF-8";

.wrapper {
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

.small-head{
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition:all 0.5s;
}

.news-contents,.news-contents-image{
  transition-timing-function: ease;
  transition-delay: 0s;
  transition:all 0.5s;
}



/* サイト表示時アニメーション　共通 */
.menu-anime{
    position: fixed;
    top: 0;
    right: 0;
}

.bg {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100vh;
  color: #fff;
}

.bg.-visible:before {
  transform: translate(0, 0);
}

.bg:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a33e46;
  transform: translate(0, -100%);
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  content: '';
}

/* ハンバーガーメニューデザイン🔽 */

.btn-trigger {
  position: relative;
  width: 20px;
  height: 11px;
  cursor: pointer;
}
.btn-trigger span {
  position: absolute;
  margin-top: 10px;
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}
.btn-trigger, .btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: 5px;
}

/* ハンバーガーメニューデザイン🔼 */


/* フェードインCSS  共通 */

.small-head{
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 800ms; /* フェードインにかかる時間を指定 */
}

.news-contents-list-item{
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 800ms; /* フェードインにかかる時間を指定 */
}

.view-more{
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 800ms; /* フェードインにかかる時間を指定 */
}

.about-text{
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 900ms; /* フェードインにかかる時間を指定 */
}

.view-visible{
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 900ms; /* フェードインにかかる時間を指定 */
}

.footer{
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 900ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

/* メニューのスライドイン */
#navArea {
  position: fixed;
  top: 0;
  right: -300px; /* 初期状態でメニューを非表示 */
  width: 300px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

#navArea.open {
  right: 0; /* メニューが開いたとき */
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 背景を暗くする */
  display: none;
  z-index: 998;
}

#navArea.open + #mask {
  display: block; /* メニューが開いたときにマスクを表示 */
}

/* メニューリスト */
.hamburger-contents {
  padding: 50px 0;
}

.hamburger-contents ul {
  list-style-type: none;
  padding: 0;
}

.hamburger-contents ul li {
  padding: 15px 0;
  text-align: center;
}

.hamburger-contents ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}




@media screen and (max-width: 768px) {
/* SP style */

.pc{display: none;}

/* アニメーション再生後 */

.main{
    width: 100%;
    margin-right: 10%;
}

.right-menu{
    width: 100px;
    height: 100vh;
    padding-top: 20px;
    padding-right: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.btn-trigger{
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-trigger p{
  font-size: 12px;
  margin-top: 20px;
  color: #000;
}

/* ハンバーガーメニュー🔽 */

.hamburger-contents{
  position: relative;
  margin-right: 0;
  width: 400px;
  height: 100vh;
  right: -300px;
  background-color: #000;
  overflow: hidden;
}

/* ハンバーガーメニュー🔼 */

/* ハンバーガーメニュー三本線オープン時 */
.btn-trigger.active span:nth-of-type(1) {
  transform: translateY(0px) rotate(-45deg);
  background-color: white; /* 色を白に変更 */
}
.btn-trigger.active span:nth-of-type(2) {
  transform: translateY(-5px) rotate(45deg);
  background-color: white; /* 色を白に変更 */
  top: 5px; /* 位置調整 */
}

/* オープン時にpの色を白に変更 */
.btn-trigger.active ~ .right-menu p {
  color: white !important;  /* ここで色を白に変更 */
}

/* コンテナー */
.container-1, .container-2{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* スライダーのwrapper */
.infinite-slider1 .swiper-wrapper {
  transition-timing-function: linear;
  height: 50vh !important; /* 高さを指定 */
}

/* スライド */
.infinite-slider1 .swiper-slide {
  width: 100% !important;
}

/* スライド内の画像 */
.infinite-slider1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: scale(1);
  opacity: 1;
}

/* ズームイン・アウト用のクラス */
.zoomIn {
  transform: scale(1.2);
  opacity: 1;
}


/* スライダーのwrapper */
.infinite-slider2 .swiper-wrapper {
  transition-timing-function: linear;
  height: 50vh !important; /* 高さを指定 */
}

/* スライド */
.infinite-slider2 .swiper-slide {
  width: 100% !important;
}

/* スライド内の画像 */
.infinite-slider2 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .center {
	margin: auto;
  }

.head-image-box{
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}


  /* お知らせ */

  .small-head{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    vertical-align:  middle;    /* 中央寄せ */
    background-color: #d9d9d9;
  }

  .small-head h2{
    font-size: 1.1rem;
    font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  }

  .small-head h3{
    font-family: mr-eaves-modern, sans-serif;
    color: #e83827;
    font-weight: 400;
    font-size: 0.6rem;
    letter-spacing: .12em;
  }

  .news-contents-list{
    margin-top: 5px;
    padding: 5%;
    flex-wrap: wrap;
  }

  .news-contents-list-item{
    margin-top: 20px;
  }

      .news-contents-image{
        width: 100%;
        object-fit: cover;
      }


.news-contents-text{
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  margin-top: 10px;
  line-height: 1.6;
  padding: 4%;
}

.news-contents-list-item h3{
  font-size: 1.1rem;
}

.news-contents-list-item h4{
  font-size: 0.8rem;
  margin-top: 15px;
}

.view-more{
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  align-items: center;
  text-align: center;
  margin: auto;
}

.dli-chevron-down {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
  margin-bottom: 20px;
}

  /* about */

.about{
  width: 100%;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px; font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../images/AdobeStock_626082520.jpeg");
object-fit: cover;
}

.about h2{
  color: #fff;
  font-size: 16px;
}

.about p{
  color: #fff;
  line-height: 2.25;
  font-size: 12px;
}

.location-contents-list{
  width: 100%;
  padding: 20px;
}


.location-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.view-visible-info{
  width: 100%;
  height: 100%;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}


.view-visible-info h4{
  color: #000;
  line-height: 1.65;
  margin: auto;
  padding-left: 20px; font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.view-visible-info h5{
  color: #000;
  line-height: 1.65;
  margin: auto;
  font-family: mr-eaves-modern, sans-serif;
  margin-bottom: 20px;
}

.view-visible-info ul{
  margin-bottom: 20px;
}

.online-list-first{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #000;
}

.online-list-last{
  padding: 15px;
  margin-bottom: 20px;
  color: #fff;
  border: 1px solid #a33e46;
  background-color: #a33e46;
}

.onlineshop{
width: 100%;
height: 400px;
background-color: #555;
}

.shop{
  height: 600px;
  margin-top: 40px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                  url("../images/AdobeStock_626082520.jpeg");
  object-fit: cover;
}

/* フッター */

.footer{
  height: 250px;
  padding: 80px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  color: #fff;
  text-align: center;
  background-color: #000;
  object-fit: cover;
}

.footer ul{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}

.footer p{
  margin-top: 20px;
}

}


@media screen and (min-width: 769px) {
/* PC style */

.sp{display: none;}

.main{
margin-right: 100px;
}

.right-menu{
    display: flex;
    flex-direction: column;
    padding-top: 50vh;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100px;
    height: 100vh;
    background-color: #fff;
}

.btn-trigger{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ハンバーガーメニュー三本線オープン時 */
.btn-trigger.active span:nth-of-type(1) {
  transform: translateY(0px) rotate(-45deg);
  background-color:#000; /* 色を白に変更 */
}
.btn-trigger.active span:nth-of-type(2) {
  transform: translateY(-5px) rotate(45deg);
  background-color: #000; /* 色を白に変更 */
  top: 5px; /* 位置調整 */
}


.right-menu p{
    margin-top: 25px;
    font-size: 12px;
    font-family: mr-eaves-modern, sans-serif;
    letter-spacing: .12em;
    transition: .3s;
    color: #000;
}

.head-image{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}

.pc{display: flex;}

/* コンテナー */
.container-1, .container-2{
  margin: 0 auto;
  width: 50%;
}

/* スライダーのwrapper */
.infinite-slider1 .swiper-wrapper {
  transition-timing-function: linear;
  height: 100vh !important; /* 高さを指定 */
}

/* スライド */
.infinite-slider1 .swiper-slide {
  width: 100% !important;
}

/* スライド内の画像 */
.infinite-slider1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* スライダーのwrapper */
.infinite-slider2 .swiper-wrapper {
  transition-timing-function: linear;
  height: 100vh !important; /* 高さを指定 */
}

/* スライド */
.infinite-slider2 .swiper-slide {
  width: 100% !important;
}

/* スライド内の画像 */
.infinite-slider2 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


    @keyframes zoomIn {
        0% {
          transform: scale(1);
          opacity: 1;
        }
        100% {
          opacity: 1;
          transform: scale(1.2);
        }
      }

/* 小見出し */

.small-head{
  flex-shrink: 0;
  width: 68px;
  height: 411px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: column;

  background: #ededed;
  transition: all .7s ease;
  margin-right: 30px;
}

.small-head h2{
  font-size: 24px;
  letter-spacing: .4em;
}

  /* お知らせ */

.news{
  margin-top: 100px;
  margin-bottom: 100px;
}

.wrap{
  width: 100%;
  display: flex;
  padding-left: 65px;
}

.news-contents-list{
  padding-right: 60px;
  display: flex;
}

.news-contents-list-item{
  width: 100%;
  margin-left: 20px;
  box-sizing: border-box;
}

.news-contents-image{
  width: 100%;
  margin-right: 0;
  margin-bottom: 30px;
  object-fit: cover;
}

.news-contents-text{
  height: 100%;
  overflow: hidden;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "Noto Serif JP", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif !important;
}

.news-contents-text h3{
  font-size: 18px;
  letter-spacing: .12em;
}

.news-contents-text p{
  font-size: 14px;
  margin-top: 20px;
  letter-spacing: .04em;
  line-height: 1.6428571429;
}

.news-contents-text h4{
  font-size: 18px;
  letter-spacing: .12em;
}

.view-more{
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-bottom: 50px;
}

.dli-chevron-down {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
  margin-bottom: 20px;
}


/* about */

.about{
  width: 100%;
  height: 600px;
  margin: auto;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                  url("../images/AdobeStock_626082520.jpeg");
  object-fit: cover;
}

.about-text{
  padding-top: 90px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin: auto;
}

.about h2{
  color: #fff;
  font-size: 16px;
}

.about p{
  color: #fff;
  line-height: 2.25;
  font-size: 12px;
}

/* location */

.location{
  margin-top: 40px;
}

.location-contents{
  width: 100%;
}

.location-contents-list{
  margin-left: 50px;
}

.view-visible{
  width: 100%;
  height: 500px;
  margin-top: 20px;
  display: flex;
  justify-content:space-around;
  box-sizing: border-box;
}

.location-image{
  width: 55%;
  height: 100%;
  object-fit: cover;
  order: 3;
}

.view-visible-info{
  width: 50%;
  height: 100%;
  margin-right: 70px;
  padding-top: 90px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  text-align: center;
  box-sizing: border-box;
  order: 2;
}

.view-visible-info h4{
  color: #000;
  line-height: 1.65;
  margin: auto;
  padding-left: 20px; font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.view-visible-info h5{
  color: #000;
  line-height: 1.65;
  margin: auto;
  font-family: mr-eaves-modern, sans-serif;
  margin-bottom: 20px;
}

.view-visible-info ul{
  margin-bottom: 20px;
}

.online-list-first{
  height: 78px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #000;
}

.online-list-last{
  height: 78px;
  padding: 15px;
  margin-bottom: 20px;
  color: #fff;
  border: 1px solid #a33e46;
  background-color: #a33e46;
}

/* about */

.shop{
  width: 100%;
  height: 600px;
  margin-top: 40px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                  url("../images/AdobeStock_626082520.jpeg");
  object-fit: cover;
}

/* フッター */

.footer{
  margin-right: 100px;
  height: 250px;
  padding: 80px;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  color: #fff;
  text-align: center;
  background-color: #000;
  object-fit: cover;
}

.footer ul{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}

.footer p{
  margin-top: 20px;
}



}